<div>
    <h5 class="challenge">
      <%= link_to challenge.title, challenge_path(challenge.urlkey) %> - <%= challenge.entries.count %> entries
    </h5>
    <p><%= challenge.description %></p>
</div>
